.footer {
  padding: 31px 0;
  background-color: $color-dark;

  @media (max-width: $df-tablet) {
    padding: 35px 0;
  }

  @media (max-width: $df-mobile) {
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
  }
}

.footer-inner {
  @include container;
}

.footer-wrap {
  display: flex;
  align-items: center;

  @media (max-width: $df-mobile) {
    display: block;
  }
}

.logo-footer {
  margin-right: auto;
}

.footer-phone {
  margin-right: 60px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;

  @media (max-width: $df-mobile) {
    display: block;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
