.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $color-dark;

  @media (max-width: $df-mobile) {
    padding: 16px 0;
  }
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  border: none;
  background-color: $color-dark;

  @media (max-width: $df-mobile) {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-top: 3px solid $color-light;
    border-bottom: 3px solid $color-light;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      border-top: 3px solid $color-light;
    }
  }
}
