.lead {
  text-align: center;
  background-image: url(../images/lead-bg.jpg);
  background-size: cover;
  background-position: center
}

.lead-bg-fade {
  padding-top: 290px;
  padding-bottom: 214px;
  background-color: rgba($color-dark, .4);
}

.lead-inner {
  @include container;
}

.lead-title {
  margin: 0;
  padding-bottom: 130px;
  font-size: 72px;
  line-height: 98px;
  font-weight: 600;
}

