.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  margin-left: 10px;
  padding: 33px 25px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: $color-accent;
  }

}
