.order {
  padding: 130px 0;
  color: $color-dark;
  background-color: rgba($color-dark, .1);

  @media (max-width: $df-tablet) {
    padding: 120px 0;
  }

  @media (max-width: $df-mobile) {
    padding: 90px 0;
  }
}

.order-inner {
  @include container;
}

.order-title {
  @include h2;
  margin-bottom: 40px;

  @media (max-width: $df-mobile) {
    margin-bottom: 20px;
  }

}

.order-text {
  margin-top: 0;
  margin-bottom: 90px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;

  @media (max-width: $df-mobile) {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 25px;
  }
}

.order-form {
  display: flex;
  align-items: flex-end;
  margin-right: -($indent-gap / 2);
  margin-left: -($indent-gap / 2);

  @media (max-width: $df-tablet) {
    flex-wrap: wrap;
  }

  @media (max-width: $df-mobile) {
    display: block;
  }
}

.form-order-field {
  flex-basis: 33.33%;
  padding: 0 ($indent-gap / 2);

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
    padding-bottom: 40px;
  }

  @media (max-width: $df-mobile) {
    padding-bottom: 30px;
  }
}

.form-order-label {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}

.form-order-input {
  width: 100%;
  padding: 35px 30px;
  color: $color-dark;
  font-family: inherit;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  background-color: $color-light;
}

.form-order-field-btn {

  @media (max-width: $df-tablet) {
    flex-basis: 100%;
  }
}

.btn-form {
  width: 100%;
  padding: 35px 0;
  color: $color-light;
  font-size: 28px;
  line-height: 34px;

  @media (max-width: $df-tablet) {
    width: 100%;
  }
}
