.portfolio {
  padding: 130px 0;
  text-align: center;

  @media (max-width: $df-tablet) {
    padding: 120px 0;
  }

  @media (max-width: $df-mobile) {
    padding: 90px 0;
  }
}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include h2;
  padding-bottom: 100px;

  @media (max-width: $df-tablet) {
    padding-bottom: 80px;
  }

  @media (max-width: $df-mobile) {
    padding-bottom: 60px;
  }
}

.portfolio-images-wrap {
  display: flex;
  justify-content: space-between;
  margin-right: -($indent-gap / 2);
  margin-left: -($indent-gap / 2);
  padding-bottom: 120px;

  @media (max-width: $df-tablet) {
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  @media (max-width: $df-mobile) {
    display: block;
    padding-bottom: 60px;
  }
}

.portfolio-img {
  height: 304px;

  @media (max-width: $df-tablet) {
    height: 100%;
  }
}

.portfolio-pic {
  display: inline-block;
  padding: 0 ($indent-gap / 2);
  flex-basis: 25%;

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
    padding-bottom: $indent-gap;
  }

  @media (max-width: $df-mobile) {
    width: 100%;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.portfolio-figure {
  position: relative;
  margin: 0;

  @media (max-width: $df-tablet) {
    margin: 0 auto;
    width: 344px;
    height: 344px;
  }

  @media (max-width: $df-mobile) {
    width: 300px;
    height: 300px;
  }
}

.portfolio-pic-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.4);
}
