.portfolio {
  padding: 120px 0;
  text-align: center;

  @media (max-width: $df-tablet) {
    padding: 110px 0;
  }

  @media (max-width: $df-mobile) {
    padding: 80px 0;
  }
}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include h2;
  margin-bottom: 100px;

  @media (max-width: $df-tablet) {
    margin-bottom: 80px;
  }

  @media (max-width: $df-mobile) {
    margin-bottom: 60px;
  }
}

.portfolio-images-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($indent-gap / 2);
  margin-left: -($indent-gap / 2);
  padding-bottom: 120px;

  @media (max-width: $df-tablet) {
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  @media (max-width: $df-mobile) {
    display: block;
    padding-bottom: 60px;
  }
}

.portfolio-pic {
  display: inline-block;
  padding: ($indent-gap / 2);
  flex-basis: 25%;

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
  }

  @media (max-width: $df-mobile) {

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.portfolio-figure {
  position: relative;
  margin: 0;
}

.portfolio-pic-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.4);
}
